    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="site-logo col-6"><a href="{% url 'index' %}">EDUTEST</a></div>
  
            <nav class="mx-auto site-navigation">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                <li><a href="{% url 'Apropos' %}">A propos Edutest</a></li>
                <li class="has-children">
                  <a>Recommandation</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'Recommandation' %}">Avec préférences</a></li>
                    <li><a href="{% url 'Rec_sans_pref' %}">Sans préférences</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'historique' %}">Historique des recherches</a></li>
              </ul>
            </nav>
            
            <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
              <div class="ml-auto">
                <a href="{% url 'logout' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Déconnexion</a>
              </div>
              <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
            </div>
  
          </div>
        </div>
      </header>
      {% if request.user.is_superuser %}
  
      {% include 'csv_upload.html' %}
      {% endif %}